<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>TD-Code Home</title>
</head>
<body>
    <img src="../static/pictures/TDCOicon.png" alt="TDCODEicon" height="80px">
    <nav role="navigation">
        <div id="menuToggle"> 
          <!--
          hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input name="toggle" type="checkbox" />
          <label for="toggle">
            <span>menu</span>
            <!--
            divs to be styled as a hamburger button
            -->
            <div></div>
            <div></div>
            <div></div>
          </label>
      
          
          <!--
          the menu that will slide in from the left
            <a href="#"><li>Suggestions</li></a>
          -->
          <ul id="menu">
            <a href="/" id="navigation"><li>Home</li></a>
            <a href="/downloads" id="navigation"><li>Downlads</li></a>
            <a href="/documentary" id="navigation"><li>Informations</li></a>
            <a href="/suggest" id="navigation"><li>Suggestions</li></a>
          </ul>
        </div>
      </nav>
    <center><img src="../static/pictures/TDCOicon.png" alt="TDCODEicon" height="500px"></center>
    <center><h2>Der Text ist größer als 3000 Zeichen, bitte Schreibe keine so großen Texte!</h2></center>
</body>
</html>